{:paths ["src"]
 :deps {hash-meta {:git/url "https://github.com/sparkofreason/hash-meta"
                   :sha "739dd5b47b00e3eb175da2f680c9ab3658099671"}
        net.cgrand/macrovich {:mvn/version "0.2.1"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {com.cognitect/transcriptor {:mvn/version "0.1.5"}}}
  :examples {:extra-paths ["examples"]
             :extra-deps {mvxcvi/puget {:mvn/version "1.2.0"}
                          clj-stacktrace {:mvn/version "0.2.8"}}}
  :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}}
         :main-opts ["-m" "cljs.main" "--repl"]}}}
